<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/style/style.css" />
  </head>

  <header>
    <div class="container">
      <div class="container2">
        <div class="container3">
          <h1>
            <a href=""
              ><img src="/frontend/images/logo.png" alt="" width="40px"
            /></a>
          </h1>
        </div>
        <nav>
          <a href=""
            ><img src="/frontend/images/navbar/home.png" width="30px" /> Home</a
          >
          <a href=""
            ><img src="/frontend/images/navbar/search.png" width="30px" />
            Search</a
          >
          <a href=""
            ><img src="/frontend/images/navbar/follow.png" width="30px" />
            Follow</a
          >
          <a href=""
            ><img src="/frontend/images/navbar/chat.png" width="30px" />
            Converstation</a
          >
          <a href=""
            ><img src="/frontend/images/navbar/save.png" width="30px" />
            Bookmarks
          </a>
          <a href=""
            ><img src="/frontend/images/navbar/user.png" width="30px" /> Profile
          </a>
        </nav>
      </div>
    </div>
  </header>

  <body>
    <script src="/frontend/script/main.js"></script>
  </body>
</html>
